* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html {
    background-image: url(background.jpg);
    background-repeat: repeat ;
    background-size: 100%;
    font-weight: 16px;
}

h5{
    color: #000000;
}

P{
  color: #000000;
}

.pCont{
  color: #fff;
}

#theWord{
    position:absolute;
    text-align: center;
    height: 40px;
    width: 200px;
    top: 35%;
    left: 42%;
    right: 42%;
    color: #000000;
    margin-bottom: 0px;
    margin-top: 0px;
}

.translation{
    position: absolute;
    width: 100px;
    height: 270px;
    left: 45%;
    right: 45%;
}

.buttonTranslation {
    padding: 2px, 2px;
    margin-bottom: 15px;
    border-radius: 5px;
    border:2px solid rgb(50, 110, 85);
    background-image: linear-gradient(#e6fee9, #74979b);
    text-shadow: 0 0 21px rgba(206, 245, 215, 0.5), 0 -1px 0 #311d47;
    color: rgb(0, 0, 0);
}

.buttonTranslation:hover {
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
  }


.spase{ 
    position: absolute; /* Позиция относительно других элементов */
    bottom: 0;
    width: 100%;
    height: 60px;
    opacity: 0.8; /* Прозрачность */
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid #f2f7c9;
    display: block;
    padding: 0px 15px 5px 15px;
    background: #ffffff;
}
.all{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-size: cover;
}

.menu {
    width: 34px;
    height: 45px;
    position: absolute;
    right: 0;
    margin-top: 13px;
    margin-right: 35px;
    z-index: 1000;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: none;
}

.menu span{
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #2f2f2f;
    border-radius: 9px;
    opacity: 1;
    left: 0;
}

.border1{
    margin-top: -10px;
}

.border2{
    margin-top: -20px;
}

#content {
    position:absolute;
    height: 300px;
    width: 300px;
}
 
.PaidServices1{
    top:550px;
    right:1%;
    background-color: rgb(243, 165, 165);
    background-image: url(PaidContent1.png);
    background-size: 100%;
}

.PaidServices2{
    top:550px;
    right:26%;
    background-color: rgb(232, 248, 195);
    background-image: url(PaidContent2.png);
    background-size: 100%;
}
.PaidServices3{
    top:550px;
    left:1%;
    background-color: rgb(198, 189, 252);
    background-image: url(PaidContent3.png);
    background-size: 100%;
}
.PaidServices4{
    top:550px;
    left:26%;
    background-color: rgb(152, 190, 152);
    background-image: url(PaidContent4.png);
    background-size: 100%;
}

.OurContent{
    position:absolute;
    text-align: center;
    height: 300px;
    left: 15%;
    right: 15%;
    width: 70%;
    top:900px;
    background-color: rgb(143, 32, 187);
    padding-top: 250px;

}

.footer{
    position: absolute; 
    width: 100%;
    height: 150px;
    top: 1250px;
    /* opacity: 0.1; */
}

.Answer{
    position: absolute;
    width: 400px;
    height: 48px;
    top: 8px;
    left: 30px;
    z-index: 2;
}
 
#Yes{
    width: 48px;
    height: 48px;
}

#No{
    width: 48px;
    height: 48px;
}

#MessageYes{
    position: absolute;
    padding-left: 65px;
    top: -5px;
}

#MessageNo{
    position: absolute;
    padding-left: 65px;
    top: -5px;
}

#rightAnswer{
    position: absolute;
    padding-left: 265px;
    top: -5px;
}

/* =============================================================================================== */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(199, 199, 199, 0.65);
    z-index: 999;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    overflow: auto;
}

.popup {
    top: 25%;
    left: 0;
    right: 0;       
    font-size: 14px;
    margin: auto;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: absolute;
    padding: 15px 20px;
    border: 1px solid #383838;
    background:
    -webkit-linear-gradient(
    rgba(35,43,85,0.75),
    rgba(35,43,85,0.95)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/landscape-nature-man-person.jpeg);
    z-index: 1000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
}

body {
  color: #fff;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased; /*сглаживание текста*/
  }
  
  input[type=radio] { display: none; } /*убираются точки checked*/

  label {
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-weight: 800;
    opacity: .5;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  label:hover {
    transition: all .3s cubic-bezier(.6,0,.4,1);
    opacity: 1;
    border-bottom: solid 2px #1059FF;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    cursor: pointer;
    text-decoration: none;
    padding-bottom: 10px;
  }

  #loginError {
    color:red;
    display: inline-block;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 550;
    font-family: "Verdana";
    font-style: italic;
    }

  label[for="login"] { margin-right: 20px; } /*расстояние между надписями*/
  input[type=radio]:checked + label { opacity: 1; } /*подсвечивается что выбрано LOGIN или SIGNUP*/

  input[type=text],
  input[type=password] {
    background: #fff;
    border: none;
    border-radius: 8px;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    height: 72px;
    width: 99.5%;
    margin-bottom: 10px;
    opacity: 1;
    text-indent: 20px;
    transition: all .2s ease-in-out;
  }

  #Enter {
    background: rgba(16,89,255, 1);
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    height: 72px;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    transition: all .3s cubic-bezier(.6,0,.4,1);
  }

  #Enter span {
    display: block;
    line-height: 72px;
    position: relative;
    top: -2px;
    transform: translate3d(0,0,0);
  } /*сдвигает текст в кнопке enter*/

  #Enter:hover {
    background: #0F4FE6;
  } /*когда наводим на кнопку Enter меняется цвет*/

  #arrow {
    height: 0;
    width: 0;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
    left: 32px;
  } /*изменяет форму*/
  
  /*-------------------------Контент------------------------------------------------------------*/
  h2 {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    font-size: 17px;
    font-family: Raleway, serif;
    padding: 10px;
    margin: 10px 0 0 0
  }

  p {
    font-family: Merriweather, serif;
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: rgb(0, 0, 0);
    padding: 0px 20px 0px;
    text-align: center
  }

  .PaidServices1 .mask {
    opacity: 0;
    background-color: rgba(228, 231, 18, 0.664);
    transition: all 0.4s ease-in-out;
  }

  .PaidServices1 h2 {
    transform: translateY(-100px);
    opacity: 0;
    font-family: Raleway, serif;
    transition: all 0.2s ease-in-out;
  }

  .PaidServices1 p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
  }
  
  .PaidServices1:hover .mask {
    opacity: 1;
  }
  
  .PaidServices1:hover h2,
  .PaidServices1:hover p {
    opacity: 1;
    transform: translateY(0px);
  }
  
  .PaidServices1:hover p {
    transition-delay: 0.1s;
  }

/*2*/
.PaidServices2 .mask {
    opacity: 0;
    background-color: rgba(111, 0, 255, 0.44);
    transition: all 0.4s ease-in-out;
  }

  .PaidServices2 h2 {
    transform: translateY(-100px);
    opacity: 0;
    font-family: Raleway, serif;
    transition: all 0.2s ease-in-out;
  }

  .PaidServices2 p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
  }
  
  .PaidServices2:hover .mask {
    opacity: 1;
  }
  
  .PaidServices2:hover h2,
  .PaidServices2:hover p {
    opacity: 1;
    transform: translateY(0px);
  }
  
  .PaidServices2:hover p {
    transition-delay: 0.1s;
  }

  /*3*/
  .PaidServices3 .mask {
    opacity: 0;
    background-color: rgba(21, 255, 0, 0.44);
    transition: all 0.4s ease-in-out;
  }

  .PaidServices3 h2 {
    transform: translateY(-100px);
    opacity: 0;
    font-family: Raleway, serif;
    transition: all 0.2s ease-in-out;
  }

  .PaidServices3 p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
  }
  
  .PaidServices3:hover .mask {
    opacity: 1;
  }
  
  .PaidServices3:hover h2,
  .PaidServices3:hover p {
    opacity: 1;
    transform: translateY(0px);
  }
  
  .PaidServices3:hover p {
    transition-delay: 0.1s;
  }

  /*4*/
  .PaidServices4 .mask {
    opacity: 0;
    background-color: rgba(234, 0, 255, 0.44);
    transition: all 0.4s ease-in-out;
  }

  .PaidServices4 h2 {
    transform: translateY(-100px);
    opacity: 0;
    font-family: Raleway, serif;
    transition: all 0.2s ease-in-out;
  }

  .PaidServices4 p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
  }
  
  .PaidServices4:hover .mask {
    opacity: 1;
  }
  
  .PaidServices4:hover h2,
  .PaidServices4:hover p {
    opacity: 1;
    transform: translateY(0px);
  }
  
  .PaidServices4:hover p {
    transition-delay: 0.1s;
  }

  /* =========================================================== */
  #button1, #button2 {
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
  }

  #button1:hover, #button2:hover {
    border: 2px solid rgb(131, 18, 165);
  }

  /* =========================================================== */
  .СontentList{
    position: absolute;
    top: 50px;
    /* width: 5670px;
    left: 0px;
    display: block;
    transform: translate(1000px);
    transition: all 200ms ease; */
  }

/* ============================================================== */

#myFooter{
  padding-top:32px;
}

#myFooter .container{
  text-align: center;
}

#myFooter .footer-copyright{
  margin-bottom: 35px;
  text-align: center;
  color: #777;
}

#myFooter ul{
  list-style-type: none;
  padding: 0;
  margin-bottom: 18px;
}

#myFooter a{
  color: #282b2d;
  font-size: 18px;
}

#myFooter li{
  display: inline-block;
  margin: 0px 15px;
  line-height: 2;
}

#myFooter .footer-social{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #eee;
}

#myFooter .fa{
  font-size: 36px;
  margin-right: 15px;
  margin-left: 20px;
  background-color: white;
  color: #d0d0d0;
  border-radius: 51%;
  padding: 10px;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 43px;
  text-decoration: none;
  transition:color 0.2s;
}

#myFooter .fa-facebook:hover{
 color: #2b55ff;
}

#myFooter .fa-facebook:focus{
  color: #2b55ff; 
}

#myFooter .fa-google-plus:hover{
  color:red;
}

#myFooter .fa-google-plus:focus{
  color:red;
}

#myFooter .fa-twitter:hover{
  color: #00aced;

}

#myFooter .fa-twitter:focus{
  color:#00aced;
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html{
  height: 100%;
}

body{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
}

.contentFooter{
 flex: 1 0 auto;
 -webkit-flex: 1 0 auto;
 min-height: 200px;
}

#myFooter{
 flex: 0 0 auto;
 -webkit-flex: 0 0 auto;
}

/* ======================================================================== */

#OpenedMenu{
  position: absolute;
  height: 300px;
  width: 350px;
  left: 74%;
  top: 60px;
  background-color: #ffffff;
}

#userEmail{
  position: absolute;
  height: 50px;
  width: 200px;
  text-align: center;
  left: 20%;
  background-color: #ecd390;
}

#PWinrate{
  top: 35%;
}

#userWinrate{
  top: 60%;
  position: absolute;
  height: 50px;
  width: 200px;
  text-align: center;
  left: 20%;
  background-color: #ecd390;

}